<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="co.orionsys.autocamplugin"
        version="1.0.0">
    <name>AutoCam</name>
    <license>Apache 2.0</license>
    <author>Mike Burgher and others</author>
    <description>Camera plugin that hides the preview and auto-shoots the camera, prevents app being killed off in Android</description>
    <keywords>camera,foreground</keywords>
    
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>    
    <js-module src="www/CameraConstants.js" name="Camera">
        <clobbers target="Camera" />
    </js-module>

    <js-module src="www/CameraPopoverOptions.js" name="CameraPopoverOptions">
        <clobbers target="CameraPopoverOptions" />
    </js-module>

    <js-module src="www/Camera.js" name="camera">
        <clobbers target="navigator.camera" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Camera">
                <param name="android-package" value="co.orionsys.autocamplugin.AutoCamLauncher"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity 
android:label="AutoCamPlugin" 
                android:name="co.orionsys.autocamplugin.CameraActivity" 
                android:theme="@android:style/Theme.Translucent.NoTitleBar">
            </activity>
        </config-file>

        <source-file src="src/android/CameraActivity.java" target-dir="src/co/orionsys/autocamplugin" />
        <source-file src="src/android/AutoCamLauncher.java" target-dir="src/co/orionsys/autocamplugin" />
        <source-file src="src/android/autocamplugin.xml" target-dir="res/layout" />

        <js-module src="www/CameraPopoverHandle.js" name="CameraPopoverHandle">
            <clobbers target="CameraPopoverHandle" />
        </js-module>
      
     </platform>
          
</plugin>
